.main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.about{
    max-width: 1000px;
    margin:auto;
    
}
.box{
   padding: 1.5rem;
   border: 1px solid #ccc;
   width: 100%;
   box-sizing: border-box;
   min-height: 200px;
   display: flex;
   flex-direction: column;
   gap: 2rem;
   
}
.title{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}


.header{
    margin-bottom: 2rem;
}

.link{
    margin-top: 2rem;
}